<%= form_for(@commentmetum) do |f| %>
  <% if @commentmetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentmetum.errors.count, "error") %> prohibited this commentmetum from being saved:</h2>

      <ul>
      <% @commentmetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meta_id %><br>
    <%= f.number_field :meta_id %>
  </div>
  <div class="field">
    <%= f.label :comment_id %><br>
    <%= f.number_field :comment_id %>
  </div>
  <div class="field">
    <%= f.label :meta_key %><br>
    <%= f.text_field :meta_key %>
  </div>
  <div class="field">
    <%= f.label :meta_value %><br>
    <%= f.text_area :meta_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
