<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>User login:</strong>
  <%= @user.user_login %>
</p>

<p>
  <strong>User pass:</strong>
  <%= @user.user_pass %>
</p>

<p>
  <strong>User nicename:</strong>
  <%= @user.user_nicename %>
</p>

<p>
  <strong>User email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>User url:</strong>
  <%= @user.user_url %>
</p>

<p>
  <strong>User registered:</strong>
  <%= @user.user_registered %>
</p>

<p>
  <strong>User activation key:</strong>
  <%= @user.user_activation_key %>
</p>

<p>
  <strong>User status:</strong>
  <%= @user.user_status %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
