<h1>Listing options</h1>

<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Blog</th>
      <th>Option name</th>
      <th>Option value</th>
      <th>Autoload</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.option_id %></td>
        <td><%= option.blog_id %></td>
        <td><%= option.option_name %></td>
        <td><%= option.option_value %></td>
        <td><%= option.autoload %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option', new_option_path %>
