<p id="notice"><%= notice %></p>

<p>
  <strong>Meta:</strong>
  <%= @postmetum.meta_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @postmetum.post_id %>
</p>

<p>
  <strong>Meta key:</strong>
  <%= @postmetum.meta_key %>
</p>

<p>
  <strong>Meta value:</strong>
  <%= @postmetum.meta_value %>
</p>

<%= link_to 'Edit', edit_postmetum_path(@postmetum) %> |
<%= link_to 'Back', postmeta_path %>
