<%= form_for(@usermetum) do |f| %>
  <% if @usermetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usermetum.errors.count, "error") %> prohibited this usermetum from being saved:</h2>

      <ul>
      <% @usermetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :umeta_id %><br>
    <%= f.number_field :umeta_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :meta_key %><br>
    <%= f.text_field :meta_key %>
  </div>
  <div class="field">
    <%= f.label :meta_value %><br>
    <%= f.text_area :meta_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
