<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @link.link_id %>
</p>

<p>
  <strong>Link url:</strong>
  <%= @link.link_url %>
</p>

<p>
  <strong>Link name:</strong>
  <%= @link.link_name %>
</p>

<p>
  <strong>Link image:</strong>
  <%= @link.link_image %>
</p>

<p>
  <strong>Link target:</strong>
  <%= @link.link_target %>
</p>

<p>
  <strong>Link description:</strong>
  <%= @link.link_description %>
</p>

<p>
  <strong>Link visible:</strong>
  <%= @link.link_visible %>
</p>

<p>
  <strong>Link owner:</strong>
  <%= @link.link_owner %>
</p>

<p>
  <strong>Link rating:</strong>
  <%= @link.link_rating %>
</p>

<p>
  <strong>Link updated:</strong>
  <%= @link.link_updated %>
</p>

<p>
  <strong>Time:</strong>
  <%= @link.time %>
</p>

<p>
  <strong>Link rel:</strong>
  <%= @link.link_rel %>
</p>

<p>
  <strong>Link notes:</strong>
  <%= @link.link_notes %>
</p>

<p>
  <strong>Link rss:</strong>
  <%= @link.link_rss %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
